@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');


:root {
    --primary-color: #93e6f0;
    --secondary-color: #b3f18f;
    --text-color: #024959;
    --background-color: #F2E3D5;
    --button-hover: #012E40;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}




* {
    margin: 15;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
}

img {
    max-width: 90%;
}

